<div class="container from_header">
  <div class="d-flex flex-row flex-wrap">
    <!-- <div class="col-md-4"> -->
      <div class="thumbnail flex-fill">
          <a href="../../../assets/festival-images/IMG-20180917-WA0000.jpg" target="_blank">
            <img src="../../../assets/festival-images/IMG-20180917-WA0000.jpg" alt="vinayaka chavithi" >
            <!-- <div class="caption">
              <p>Vinayaka Chavithi Celebrations</p>
            </div> -->
          </a>
      </div>
    <!-- </div> -->
    <!-- <div class="col-md-4"> -->
        <div class="thumbnail ">
            <a href="../../../assets/festival-images/IMG-20180917-WA0001.jpg" target="_blank">
              <img src="../../../assets/festival-images/IMG-20180917-WA0001.jpg" alt="vinayaka chavithi" >
              <!-- <div class="caption">
                <p>Vinayaka Chavithi Celebrations</p>
              </div> -->
            </a>
        </div>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
          <div class="thumbnail ">
              <a href="../../../assets/festival-images/IMG-20180917-WA0003.jpg" target="_blank">
                <img src="../../../assets/festival-images/IMG-20180917-WA0003.jpg" alt="vinayaka chavithi" >
                <!-- <div class="caption">
                  <p>Vinayaka Chavithi Celebrations</p>
                </div> -->
              </a>
          </div>
        <!-- </div> -->
        <div class="thumbnail ">
          <a href="../../../assets/festival-images/IMG-20180917-WA0003.jpg" target="_blank">
            <img src="../../../assets/festival-images/IMG-20180917-WA0003.jpg" alt="vinayaka chavithi" >
            <!-- <div class="caption">
              <p>Vinayaka Chavithi Celebrations</p>
            </div> -->
          </a>
      </div>
      <div class="thumbnail">
        <a href="../../../assets/festival-images/IMG-20180917-WA0003.jpg" target="_blank">
          <img src="../../../assets/festival-images/IMG-20180917-WA0003.jpg" alt="vinayaka chavithi" >
          <!-- <div class="caption">
            <p>Vinayaka Chavithi Celebrations</p>
          </div> -->
        </a>
    </div>
    <div class="thumbnail ">
      <a href="../../../assets/festival-images/IMG-20180917-WA0003.jpg" target="_blank" >
        <img src="../../../assets/festival-images/IMG-20180917-WA0003.jpg" alt="vinayaka chavithi" >
        <!-- <div class="caption">
          <p>Vinayaka Chavithi Celebrations</p>
        </div> -->
      </a>
  </div>
  
  </div>
</div>