<div class="container-fluid">
  <mat-card class="from_header row mat-elevation-z6" style="padding: 0px !important">
    <slideshow [height]="'200px'" [minHeight]="'400px'" [autoPlay]="false" [showArrows]="true" [imageUrls]="imageUrlArray">
    </slideshow>
  </mat-card>
  <div class="row" style="margin-top: 1rem">
    <mat-card class=" button-container col-xs-12 col-sm-6 col-md-3 from_header" style="margin-right: 12%;">
      <img mat-card-image src="../assets/img/02.jpg" class="image" alt="Photo of a NTR">
      <div class="middle">
        <button mat-raised-button color="primary" class="text" routerLink="/activities">Activities</button>
      </div>
    </mat-card>
    <mat-card class="button-container col-xs-12 col-sm-6 col-md-3 from_header " style="margin-right: 12%">
      <img mat-card-image src="../assets/img/02.jpg" class="image" alt="Photo of a NTR">
      <div class="middle">
        <button mat-raised-button color="primary" class="text" routerLink="/syfoundation">S Youth</button>
      </div>
    </mat-card>
    <mat-card class=" button-container col-xs-12 col-sm-6 col-md-3 from_header " >
      <img mat-card-image src="../assets/img/02.jpg" class="image" alt="Photo of a NTR">
      <div class="middle">
        <button mat-raised-button color="primary" class="text" routerLink="/politics">Politics</button>
      </div>
    </mat-card>
    <mat-card class=" button-container col-xs-12 col-sm-6 col-md-3 from_header " style="margin-right: 12%" >
      <img mat-card-image src="../assets/img/02.jpg" class="image" alt="Photo of a NTR">
      <div class="middle">
        <button mat-raised-button color="primary" class="text" routerLink="/misce">Miscellaneous</button>
      </div>
    </mat-card>
    <mat-card class=" button-container col-xs-12 col-sm-6 col-md-3 from_header " style="margin-right: 12%">
      <img mat-card-image src="../assets/img/02.jpg" class="image" alt="Photo of a NTR">
      <div class="middle">
        <button mat-raised-button color="primary" class="text" routerLink="/notification">Notifications</button>
      </div>
    </mat-card>
    <mat-card class=" button-container col-xs-12 col-sm-6 col-md-3 from_header " >
      <img mat-card-image src="../assets/img/02.jpg" class="image" alt="Photo of a NTR">
      <div class="middle">
        <button mat-raised-button color="primary" class="text" routerLink="/photos">Photos</button>
      </div>
    </mat-card>
  </div>
  <div class="row from_header" style=" height: 100px; background-color: #3F51B5  !important; border-top: 4px solid lightpink">
    <footer class="col-md-12 col-lg-12">
      <div style="text-align: center;">
        <span style="color: #ffffff">
          With Love from Mittapalli's
        </span>
      </div>
    </footer>
  </div>
</div>