<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="app-navbar"> -->
    <nav class="mat-elevation-z6 docs-navbar-header app-navbar">
        <a class="mat-button" mat-button routerLink="home">
            <span class="mat-button-wrapper"><span class="material-icons md-18">home</span> Home</span>
        </a>
        <a class="mat-button" mat-button routerLink="activities" routerLinkActive="active">
            <span class="mat-button-wrapper"><span class="material-icons md-18">face </span> Activities</span>
        </a>
        <a class="mat-button" mat-button routerLink="syfoundation">
            <span class="mat-button-wrapper"><span class="material-icons md-18">accessibility_new </span> Sarimadugu Youth</span>
        </a>
        <a class="mat-button" mat-button routerLink="politics">
            <span class="mat-button-wrapper"><span class="material-icons md-18">group </span> Politics</span>
        </a>
        <a class="mat-button" mat-button routerLink="misce">
            <span class="mat-button-wrapper"><span class="material-icons md-18">wifi </span> Miscellaneous</span>
        </a>
        <a class="mat-button" mat-button routerLink="notification">
            <span class="mat-button-wrapper"><span class="material-icons md-18">notification_important </span> Notifications</span>
        </a>
        <a class="mat-button" mat-button routerLink="photos">
            <span class="mat-button-wrapper"><span class="material-icons md-18">collections </span> Photos</span>
        </a>
        <ul class="header__nav">
        <a class="mat-button" mat-button routerLink="contact-us">
            <span class="mat-button-wrapper"><span class="material-icons md-18">contact_mail </span> Contact Us</span>
        </a>
        <a class="mat-button" mat-button routerLink="about">
            <span class="mat-button-wrapper"><span class="material-icons md-18">info </span> About</span>
        </a>
    </ul>
    </nav>
<!-- </div> -->
<router-outlet></router-outlet>